# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Data & Datasets
data/
CIFAR-100/
*.tar.gz
*.pth
*.pt


Phase_IV_Ablation/results/

# System-specific
.venv/
env/
venv/
.env
.ipynb_checkpoints/
.DS_Store
# Telemetry
wandb/
tea_debug.log
